DJANGO_SECRET_KEY=change-me-generate-with-python-c-"from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SETTINGS_MODULE=ebcra.settings.local
JWT_SERVICE_HOST=http://localhost:9001
JWT_SERVICE_JS_PATH=/get-js-jwt
VARIATIONS_SERVICE_HOST=http://localhost:9002
GOOGLE_ANALYTICS_ID=UA-68418371-1
SITE_URL=https://estadisticasbcra.com
CHART_API_SCHEME=https
CHART_API_HOST=api.estadisticasbcra.com
