{% extends "portal/base.html" %}
{% load portal_extras %}
{% block page_title %}{% if lang == 'en' %}Monetary Base{% else %}Base Monetaria{% endif %} — Estadísticas BCRA{% endblock %}
{% block content %}

<div class="title"><div class="title-container"><h1>{% if lang == 'en' %}Monetary Base{% else %}Base Monetaria{% endif %}</h1></div></div>
<div class="explanation"><p>{% if lang == 'en' %}The <a href="https://en.wikipedia.org/wiki/Monetary_base">Monetary Base</a> is the sum of currency in circulation and financial entities' current accounts in pesos at the BCRA. It is the narrowest monetary aggregate and the primary instrument the central bank uses to influence the money supply and inflation.{% else %}La <a href="https://es.wikipedia.org/wiki/Base_monetaria">Base Monetaria</a> es la suma del dinero en circulación y las cuentas corrientes en pesos de las entidades financieras en el BCRA. Es el agregado monetario más restringido y el principal instrumento del Banco Central para influir sobre la oferta monetaria y la inflación.{% endif %}</p></div>

<div class="subtitle"><h3>{% if lang == 'en' %}Monetary Base{% else %}Base Monetaria{% endif %}</h3></div>
<div class="chart-container">
    <div id="chart" class="rwd-chart loading"></div>
    <div class="explainer">{% if lang == 'en' %}Values expressed in Millions of Pesos{% else %}Valores expresados en Millones de Pesos{% endif %}</div>
</div>

{% if variations %}
<div class="subtitle"><h3>{% if lang == 'en' %}Variations{% else %}Variaciones{% endif %}</h3></div>
<div class="variations-container">
    <h2>{% if lang == 'en' %}Monetary Base{% else %}Base Monetaria{% endif %}</h2>
    <div class="section group">
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Last{% else %}Último{% endif %}</h4>
            <h3>{{ variations.base_val_last|format_number:lang }}</h3>
            <div><small>{{ variations.base_date_last|format_date }}</small> : <small>{{ variations.base_val_last|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Daily Variation{% else %}Variación Diaria{% endif %}</h4>
            <h3>{{ variations.base_val_last|calculate_variation:variations.base_val_daily }}</h3>
            <div><small>{{ variations.base_date_daily|format_date }}</small> : <small>{{ variations.base_val_daily|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Monthly Variation{% else %}Variación Mensual{% endif %}</h4>
            <h3>{{ variations.base_val_last|calculate_variation:variations.base_val_monthly }}</h3>
            <div><small>{{ variations.base_date_monthly|format_date }}</small> : <small>{{ variations.base_val_monthly|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Annual Variation{% else %}Variación Anual{% endif %}</h4>
            <h3>{{ variations.base_val_last|calculate_variation:variations.base_val_yearly }}</h3>
            <div><small>{{ variations.base_date_yearly|format_date }}</small> : <small>{{ variations.base_val_yearly|format_number:lang }}</small></div>
        </div>
    </div>
    <div class="section group">
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}2 Year Variation{% else %}Variación 2 Años{% endif %}</h4>
            <h3>{{ variations.base_val_last|calculate_variation:variations.base_val_2years }}</h3>
            <div><small>{{ variations.base_date_2years|format_date }}</small> : <small>{{ variations.base_val_2years|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}3 Year Variation{% else %}Variación 3 Años{% endif %}</h4>
            <h3>{{ variations.base_val_last|calculate_variation:variations.base_val_3years }}</h3>
            <div><small>{{ variations.base_date_3years|format_date }}</small> : <small>{{ variations.base_val_3years|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}5 Year Variation{% else %}Variación 5 Años{% endif %}</h4>
            {% if variations.base_val_5years %}
            <h3>{{ variations.base_val_last|calculate_variation:variations.base_val_5years }}</h3>
            <div><small>{{ variations.base_date_5years|format_date }}</small> : <small>{{ variations.base_val_5years|format_number:lang }}</small></div>
            {% else %}<h3>{% if lang == 'en' %}No Data{% else %}Sin Datos{% endif %}</h3><div><small>{% if lang == 'en' %}No Data{% else %}Sin Datos{% endif %}</small></div>{% endif %}
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}10 Year Variation{% else %}Variación 10 Años{% endif %}</h4>
            {% if variations.base_val_10years %}
            <h3>{{ variations.base_val_last|calculate_variation:variations.base_val_10years }}</h3>
            <div><small>{{ variations.base_date_10years|format_date }}</small> : <small>{{ variations.base_val_10years|format_number:lang }}</small></div>
            {% else %}<h3>{% if lang == 'en' %}No Data{% else %}Sin Datos{% endif %}</h3><div><small>{% if lang == 'en' %}No Data{% else %}Sin Datos{% endif %}</small></div>{% endif %}
        </div>
    </div>
</div>

<div class="subtitle"><h3>{% if lang == 'en' %}Variations Chart{% else %}Gráfico de Variaciones{% endif %}</h3></div>
<div class="variations-chart-container">
    <div id="variations-chart" class="loading"></div>
</div>
{% endif %}

<div class="subtitle"><h3>{% if lang == 'en' %}Related Reports{% else %}Reportes Relacionados{% endif %}</h3></div>
<div class="other-links-container">
    <div class="section group">
        <div class="col span_2_of_4">
            <ul>
                <li><a href="{% if lang == 'en' %}/en/argentina_monetary_base_in_usd{% else %}/base_monetaria_argentina_en_usd{% endif %}">{% if lang == 'en' %}Monetary Base in USD{% else %}Base Monetaria en USD{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_monetary_base_components{% else %}/componentes_base_monetaria_argentina{% endif %}">{% if lang == 'en' %}Monetary Base Components{% else %}Componentes de la Base Monetaria{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_international_reserves{% else %}/reservas_internacionales_argentina{% endif %}">{% if lang == 'en' %}International Reserves{% else %}Reservas Internacionales{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_monetary_base_divided_by_international_reserves{% else %}/base_monetaria_dividida_reservas_internacionales_argentina{% endif %}">{% if lang == 'en' %}Monetary Base Divided by International Reserves{% else %}Base Monetaria Dividida Reservas Internacionales{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m2_divided_by_international_reserves{% else %}/m2_dividido_reservas_internacionales_argentina{% endif %}">{% if lang == 'en' %}M2 Divided by International Reserves{% else %}M2 Dividido Reservas Internacionales{% endif %}</a></li>
            </ul>
        </div>
        <div class="col span_2_of_4">
            <ul>
                <li><a href="{% if lang == 'en' %}/en/argentina_m1{% else %}/m1{% endif %}">M1</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m2{% else %}/m2{% endif %}">M2</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m3{% else %}/m3{% endif %}">M3</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_repo_operations{% else %}/pases_argentina{% endif %}">{% if lang == 'en' %}BCRA Repo Operations{% else %}Operaciones de Pase BCRA{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_deposits{% else %}/depositos_argentina{% endif %}">{% if lang == 'en' %}Deposits{% else %}Depósitos{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_loans{% else %}/prestamos_argentina{% endif %}">{% if lang == 'en' %}Loans{% else %}Préstamos{% endif %}</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block page_scripts %}
{% include "portal/_js_common.html" %}
<script>
const sources = [
    "{{ CHART_API_BASE_URL }}/base"
];
const milestones = "{{ CHART_API_BASE_URL }}/milestones";
const jsToken = "{{ jsToken }}";

const displayCharts = () => {
    const opts1 = {
        id: "base",
        containerId: "chart",
        numberLocale: numberLocale,
        initialView: "fiveYears",
        data: [{ id: "base-monetaria", stroke: "#003333", name: "{% if lang == 'en' %}Monetary Base{% else %}Base Monetaria{% endif %}", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/base"] }],
        milestones: ResponsiveChartLibraryDataLoader.milestones,
        milestonesTextFunc: milestonesTextFunc,
        conf: { views: chartViewsConf, lang: chartLang, toolTipContainerBGWidth: 200, leftMargin: 80 }
    };
    const opts_var1 = {
        id: "base-variation",
        containerId: "variations-chart",
        numberLocale: numberLocale,
        initialView: "monthly",
        data: [{ id: "base-monetaria", stroke: "#003333", name: "{% if lang == 'en' %}Monetary Base{% else %}Base Monetaria{% endif %}", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/base"] }],
        conf: { lang: variationsLang, toolTipContainerBGWidth: 200 },
    };
    const g1 = new responsiveChart(opts1);
    const v1 = new responsiveVariations(opts_var1);
    let t;
    removeLoading();
    window.addEventListener('resize', () => { clearTimeout(t); t = setTimeout(() => { g1.resize(); v1.resize(); }, 150); });
};

window.addEventListener('load', () => { ResponsiveChartLibraryDataLoader.loadAndRun(sources, milestones, displayCharts, jsToken); });
</script>
{% endblock %}
