{% extends "portal/base.html" %}
{% load portal_extras %}
{% block page_title %}{% if lang == 'en' %}Monetary Base in USD{% else %}Base Monetaria en USD{% endif %} — Estadísticas BCRA{% endblock %}
{% block content %}

<div class="title"><div class="title-container {% if lang == 'en' %}title-size-two{% else %}title-size-three{% endif %}"><h1>{% if lang == 'en' %}Monetary Base in USD{% else %}Base Monetaria expresada en USD{% endif %}</h1></div></div>
<div class="explanation"><p>{% if lang == 'en' %}This report is our own calculation, obtained by dividing the daily value of the <a href="/en/argentina_monetary_base">Monetary Base</a> by the free-market and official dollar exchange rates on the same day. It allows analyzing the evolution of the monetary base's purchasing power in dollars.{% else %}Este reporte es una elaboración propia que se obtiene dividiendo el valor diario de la <a href="/base_monetaria_argentina">Base Monetaria</a> por la cotización del dólar (libre y oficial) ese mismo día. Permite analizar la evolución del poder adquisitivo en dólares de la base monetaria.{% endif %}</p></div>

<div class="subtitle"><h3>{% if lang == 'en' %}Monetary Base in USD{% else %}Base Monetaria expresada en USD{% endif %}</h3></div>
<div class="chart-container">
    <div id="chart" class="rwd-chart loading"></div>
    <div class="explainer">{% if lang == 'en' %}Values expressed in Millions of USD{% else %}Valores expresados en Millones de Dolares{% endif %}</div>
</div>

<div class="subtitle"><h3>{% if lang == 'en' %}Variations{% else %}Variaciones{% endif %}</h3></div>

{% if variations %}
<div class="variations-container">
    <h2>{% if lang == 'en' %}Monetary Base (USD){% else %}Base Monetaria (USD){% endif %}</h2>
    <div class="section group">
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Last{% else %}Último{% endif %}</h4>
            <h3>{{ variations.base_usd_val_last }}</h3>
            <div><small>{{ variations.base_usd_date_last|format_date }}</small> : <small>{{ variations.base_usd_val_last }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Daily Variation{% else %}Variación Diaria{% endif %}</h4>
            <h3>{{ variations.base_usd_val_last|calculate_variation:variations.base_usd_val_daily }}</h3>
            <div><small>{{ variations.base_usd_date_daily|format_date }}</small> : <small>{{ variations.base_usd_val_daily }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Monthly Variation{% else %}Variación Mensual{% endif %}</h4>
            <h3>{{ variations.base_usd_val_last|calculate_variation:variations.base_usd_val_monthly }}</h3>
            <div><small>{{ variations.base_usd_date_monthly|format_date }}</small> : <small>{{ variations.base_usd_val_monthly }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Annual Variation{% else %}Variación Anual{% endif %}</h4>
            <h3>{{ variations.base_usd_val_last|calculate_variation:variations.base_usd_val_yearly }}</h3>
            <div><small>{{ variations.base_usd_date_yearly|format_date }}</small> : <small>{{ variations.base_usd_val_yearly }}</small></div>
        </div>
    </div>
    <div class="section group">
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}2 Year Variation{% else %}Variación 2 Años{% endif %}</h4>
            <h3>{{ variations.base_usd_val_last|calculate_variation:variations.base_usd_val_2years }}</h3>
            <div><small>{{ variations.base_usd_date_2years|format_date }}</small> : <small>{{ variations.base_usd_val_2years }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}3 Year Variation{% else %}Variación 3 Años{% endif %}</h4>
            <h3>{{ variations.base_usd_val_last|calculate_variation:variations.base_usd_val_3years }}</h3>
            <div><small>{{ variations.base_usd_date_3years|format_date }}</small> : <small>{{ variations.base_usd_val_3years }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}5 Year Variation{% else %}Variación 5 Años{% endif %}</h4>
            {% if variations.base_usd_val_5years %}
            <h3>{{ variations.base_usd_val_last|calculate_variation:variations.base_usd_val_5years }}</h3>
            <div><small>{{ variations.base_usd_date_5years|format_date }}</small> : <small>{{ variations.base_usd_val_5years }}</small></div>
            {% else %}<h3>{% if lang == 'en' %}No Data{% else %}Sin Datos{% endif %}</h3><div><small>{% if lang == 'en' %}No Data{% else %}Sin Datos{% endif %}</small></div>{% endif %}
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}10 Year Variation{% else %}Variación 10 Años{% endif %}</h4>
            {% if variations.base_usd_val_10years %}
            <h3>{{ variations.base_usd_val_last|calculate_variation:variations.base_usd_val_10years }}</h3>
            <div><small>{{ variations.base_usd_date_10years|format_date }}</small> : <small>{{ variations.base_usd_val_10years }}</small></div>
            {% else %}<h3>{% if lang == 'en' %}No Data{% else %}Sin Datos{% endif %}</h3><div><small>{% if lang == 'en' %}No Data{% else %}Sin Datos{% endif %}</small></div>{% endif %}
        </div>
    </div>
    <h2>{% if lang == 'en' %}Monetary Base (Official USD){% else %}Base Monetaria (USD Oficial){% endif %}</h2>
    <div class="section group">
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Last{% else %}Último{% endif %}</h4>
            <h3>{{ variations.base_usd_of_val_last }}</h3>
            <div><small>{{ variations.base_usd_of_date_last|format_date }}</small> : <small>{{ variations.base_usd_of_val_last }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Daily Variation{% else %}Variación Diaria{% endif %}</h4>
            <h3>{{ variations.base_usd_of_val_last|calculate_variation:variations.base_usd_of_val_daily }}</h3>
            <div><small>{{ variations.base_usd_of_date_daily|format_date }}</small> : <small>{{ variations.base_usd_of_val_daily }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Monthly Variation{% else %}Variación Mensual{% endif %}</h4>
            <h3>{{ variations.base_usd_of_val_last|calculate_variation:variations.base_usd_of_val_monthly }}</h3>
            <div><small>{{ variations.base_usd_of_date_monthly|format_date }}</small> : <small>{{ variations.base_usd_of_val_monthly }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Annual Variation{% else %}Variación Anual{% endif %}</h4>
            <h3>{{ variations.base_usd_of_val_last|calculate_variation:variations.base_usd_of_val_yearly }}</h3>
            <div><small>{{ variations.base_usd_of_date_yearly|format_date }}</small> : <small>{{ variations.base_usd_of_val_yearly }}</small></div>
        </div>
    </div>
    <div class="section group">
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}2 Year Variation{% else %}Variación 2 Años{% endif %}</h4>
            <h3>{{ variations.base_usd_of_val_last|calculate_variation:variations.base_usd_of_val_2years }}</h3>
            <div><small>{{ variations.base_usd_of_date_2years|format_date }}</small> : <small>{{ variations.base_usd_of_val_2years }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}3 Year Variation{% else %}Variación 3 Años{% endif %}</h4>
            <h3>{{ variations.base_usd_of_val_last|calculate_variation:variations.base_usd_of_val_3years }}</h3>
            <div><small>{{ variations.base_usd_of_date_3years|format_date }}</small> : <small>{{ variations.base_usd_of_val_3years }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}5 Year Variation{% else %}Variación 5 Años{% endif %}</h4>
            {% if variations.base_usd_of_val_5years %}
            <h3>{{ variations.base_usd_of_val_last|calculate_variation:variations.base_usd_of_val_5years }}</h3>
            <div><small>{{ variations.base_usd_of_date_5years|format_date }}</small> : <small>{{ variations.base_usd_of_val_5years }}</small></div>
            {% else %}<h3>{% if lang == 'en' %}No Data{% else %}Sin Datos{% endif %}</h3><div><small>{% if lang == 'en' %}No Data{% else %}Sin Datos{% endif %}</small></div>{% endif %}
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}10 Year Variation{% else %}Variación 10 Años{% endif %}</h4>
            {% if variations.base_usd_of_val_10years %}
            <h3>{{ variations.base_usd_of_val_last|calculate_variation:variations.base_usd_of_val_10years }}</h3>
            <div><small>{{ variations.base_usd_of_date_10years|format_date }}</small> : <small>{{ variations.base_usd_of_val_10years }}</small></div>
            {% else %}<h3>{% if lang == 'en' %}No Data{% else %}Sin Datos{% endif %}</h3><div><small>{% if lang == 'en' %}No Data{% else %}Sin Datos{% endif %}</small></div>{% endif %}
        </div>
    </div>
</div>
{% endif %}

<div class="subtitle"><h3>{% if lang == 'en' %}Variations Chart{% else %}Gráfico de Variaciones{% endif %}</h3></div>
<div class="variations-chart-container">
    <div id="variations-chart" class="loading"></div>
</div>

<div class="subtitle"><h3>{% if lang == 'en' %}Related Reports{% else %}Reportes Relacionados{% endif %}</h3></div>
<div class="other-links-container">
    <div class="section group">
        <div class="col span_2_of_4">
            <ul>
                <li><a href="{% if lang == 'en' %}/en/argentina_monetary_base{% else %}/base_monetaria_argentina{% endif %}">{% if lang == 'en' %}Monetary Base{% else %}Base Monetaria{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_monetary_base_components{% else %}/componentes_base_monetaria_argentina{% endif %}">{% if lang == 'en' %}Monetary Base Components{% else %}Componentes de la Base Monetaria{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_international_reserves{% else %}/reservas_internacionales_argentina{% endif %}">{% if lang == 'en' %}International Reserves{% else %}Reservas Internacionales{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_monetary_base_divided_by_international_reserves{% else %}/base_monetaria_dividida_reservas_internacionales_argentina{% endif %}">{% if lang == 'en' %}Monetary Base Divided by International Reserves{% else %}Base Monetaria Dividida Reservas Internacionales{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m2_divided_by_international_reserves{% else %}/m2_dividido_reservas_internacionales_argentina{% endif %}">{% if lang == 'en' %}M2 Divided by International Reserves{% else %}M2 Dividido Reservas Internacionales{% endif %}</a></li>
            </ul>
        </div>
        <div class="col span_2_of_4">
            <ul>
                <li><a href="{% if lang == 'en' %}/en/argentina_m1_in_usd{% else %}/m1_en_usd{% endif %}">{% if lang == 'en' %}M1 in USD{% else %}M1 en USD{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m2_in_usd{% else %}/m2_en_usd{% endif %}">{% if lang == 'en' %}M2 in USD{% else %}M2 en USD{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m3_in_usd{% else %}/m3_en_usd{% endif %}">{% if lang == 'en' %}M3 in USD{% else %}M3 en USD{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_repo_operations{% else %}/pases_argentina{% endif %}">{% if lang == 'en' %}BCRA Repo Operations{% else %}Operaciones de Pase BCRA{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_deposits{% else %}/depositos_argentina{% endif %}">{% if lang == 'en' %}Deposits{% else %}Depósitos{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_loans{% else %}/prestamos_argentina{% endif %}">{% if lang == 'en' %}Loans{% else %}Préstamos{% endif %}</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block page_scripts %}
{% include "portal/_js_common.html" %}
<script>
const sources = [
    "{{ CHART_API_BASE_URL }}/base_usd",
    "{{ CHART_API_BASE_URL }}/base_usd_of"
];
const milestones = "{{ CHART_API_BASE_URL }}/milestones";
const jsToken = "{{ jsToken }}";

const displayCharts = () => {
    const g1 = new responsiveChart({ id: "base-usd", containerId: "chart", numberLocale: numberLocale, initialView: "fiveYears", data: [{ id: "base-monetaria-usd", stroke: "#666600", name: "{% if lang == 'en' %}Monetary Base (USD){% else %}Base Monetaria (USD){% endif %}", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/base_usd"] }, { id: "base-monetaria-usd-of", stroke: "#003333", name: "{% if lang == 'en' %}Monetary Base (Official USD){% else %}Base Monetaria (USD Of){% endif %}", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/base_usd_of"] }], milestones: ResponsiveChartLibraryDataLoader.milestones, milestonesTextFunc: milestonesTextFunc, conf: { views: chartViewsConf, lang: chartLang, toolTipContainerBGWidth: 256, leftMargin: 80 } });
    const v1 = new responsiveVariations({ id: "base-usd-variation", containerId: "variations-chart", numberLocale: numberLocale, initialView: "monthly", data: [{ id: "base-monetaria-usd", stroke: "#666600", name: "{% if lang == 'en' %}Monetary Base (USD){% else %}Base Monetaria (USD){% endif %}", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/base_usd"] }, { id: "base-monetaria-usd-of", stroke: "#003333", name: "{% if lang == 'en' %}Monetary Base (Official USD){% else %}Base Monetaria (USD Of){% endif %}", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/base_usd_of"] }], conf: { lang: variationsLang, toolTipContainerBGWidth: 234 } });
    let t;
    removeLoading();
    window.addEventListener('resize', () => { clearTimeout(t); t = setTimeout(() => { g1.resize(); v1.resize(); }, 150); });
};

window.addEventListener('load', () => { ResponsiveChartLibraryDataLoader.loadAndRun(sources, milestones, displayCharts, jsToken); });
</script>
{% endblock %}
