{% extends "portal/base.html" %}
{% load portal_extras %}
{% block page_title %}M2 — Estadísticas BCRA{% endblock %}
{% block meta_description %}{% if lang == 'en' %}Historical chart and data of Argentina's M2 monetary aggregate — M1 plus peso savings deposits, per BCRA data.{% else %}Gráfico histórico y datos del agregado monetario M2 de Argentina — M1 más cajas de ahorro en pesos, según el BCRA.{% endif %}{% endblock %}
{% block og_description %}{% if lang == 'en' %}Historical chart and data of Argentina's M2 monetary aggregate — M1 plus peso savings deposits, per BCRA data.{% else %}Gráfico histórico y datos del agregado monetario M2 de Argentina — M1 más cajas de ahorro en pesos, según el BCRA.{% endif %}{% endblock %}
{% block twitter_description %}{% if lang == 'en' %}Historical chart and data of Argentina's M2 monetary aggregate — M1 plus peso savings deposits, per BCRA data.{% else %}Gráfico histórico y datos del agregado monetario M2 de Argentina — M1 más cajas de ahorro en pesos, según el BCRA.{% endif %}{% endblock %}
{% block content %}

<div class="title"><div class="title-container"><h1>M2</h1></div></div>
<div class="explanation"><p>{% if lang == 'en' %}M2 monetary aggregate: currency in circulation in pesos plus cash in bank vaults, plus current accounts in pesos held by the private and public sectors, plus savings deposits in pesos held by the private and public sectors.{% else %}Agregado monetario M2: circulación monetaria en pesos más billetes y monedas en entidades financieras, más cuentas corrientes en pesos de los sectores privado y público, más cajas de ahorro en pesos de los sectores privado y público.{% endif %}</p></div>

<div class="subtitle"><h3>M2</h3></div>
<div class="chart-container">
    <div id="chart" class="rwd-chart loading"></div>
    <div class="explainer">{% if lang == 'en' %}Values expressed in Millions of Pesos{% else %}Valores expresados en Millones de Pesos{% endif %}</div>
</div>

{% if variations %}
<div class="subtitle"><h3>{% if lang == 'en' %}Variations{% else %}Variaciones{% endif %}</h3></div>
<div class="variations-container">
    <h2>M2</h2>
    <div class="section group">
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Last{% else %}Último{% endif %}</h4>
            <h3>{{ variations.m2_val_last|format_number:lang }}</h3>
            <div><small>{{ variations.m2_date_last|format_date }}</small> : <small>{{ variations.m2_val_last|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Daily Variation{% else %}Variación Diaria{% endif %}</h4>
            <h3>{{ variations.m2_val_last|calculate_variation:variations.m2_val_daily }}</h3>
            <div><small>{{ variations.m2_date_daily|format_date }}</small> : <small>{{ variations.m2_val_daily|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Monthly Variation{% else %}Variación Mensual{% endif %}</h4>
            <h3>{{ variations.m2_val_last|calculate_variation:variations.m2_val_monthly }}</h3>
            <div><small>{{ variations.m2_date_monthly|format_date }}</small> : <small>{{ variations.m2_val_monthly|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Annual Variation{% else %}Variación Anual{% endif %}</h4>
            <h3>{{ variations.m2_val_last|calculate_variation:variations.m2_val_yearly }}</h3>
            <div><small>{{ variations.m2_date_yearly|format_date }}</small> : <small>{{ variations.m2_val_yearly|format_number:lang }}</small></div>
        </div>
    </div>
    <div class="section group">
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}2 Year Variation{% else %}Variación 2 Años{% endif %}</h4>
            <h3>{{ variations.m2_val_last|calculate_variation:variations.m2_val_2years }}</h3>
            <div><small>{{ variations.m2_date_2years|format_date }}</small> : <small>{{ variations.m2_val_2years|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}3 Year Variation{% else %}Variación 3 Años{% endif %}</h4>
            <h3>{{ variations.m2_val_last|calculate_variation:variations.m2_val_3years }}</h3>
            <div><small>{{ variations.m2_date_3years|format_date }}</small> : <small>{{ variations.m2_val_3years|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}5 Year Variation{% else %}Variación 5 Años{% endif %}</h4>
            <h3>{{ variations.m2_val_last|calculate_variation:variations.m2_val_5years }}</h3>
            <div><small>{{ variations.m2_date_5years|format_date }}</small> : <small>{{ variations.m2_val_5years|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}10 Year Variation{% else %}Variación 10 Años{% endif %}</h4>
            <h3>{{ variations.m2_val_last|calculate_variation:variations.m2_val_10years }}</h3>
            <div><small>{{ variations.m2_date_10years|format_date }}</small> : <small>{{ variations.m2_val_10years|format_number:lang }}</small></div>
        </div>
    </div>
</div>
<div class="subtitle"><h3>{% if lang == 'en' %}Variations Chart{% else %}Gráfico de Variaciones{% endif %}</h3></div>
<div class="variations-chart-container">
    <div id="variations-chart" class="loading"></div>
</div>
{% endif %}

<div class="subtitle"><h3>{% if lang == 'en' %}M2 Transactional Private{% else %}M2 Transaccional Privado{% endif %}</h3></div>
<div class="explanation"><p>{% if lang == 'en' %}Total monetary circulation minus cash in bank vaults in pesos, minus demand deposits for legal entities, plus current accounts in pesos, plus savings accounts in pesos. Captures transactional money held by the private sector.{% else %}Circulación monetaria total menos efectivo en bancos en pesos, menos depósitos a la vista de personas jurídicas, más cuentas corrientes en pesos, más cajas de ahorro en pesos. Captura el dinero transaccional en manos del sector privado.{% endif %}</p></div>
<div class="chart-container sub-chart">
    <div id="chart2" class="rwd-chart loading"></div>
    <div class="explainer">{% if lang == 'en' %}Values expressed in Millions of Pesos{% else %}Valores expresados en Millones de Pesos{% endif %}</div>
</div>

{% if variations %}
<div class="subtitle"><h3>{% if lang == 'en' %}Variations{% else %}Variaciones{% endif %}</h3></div>
<div class="variations-container">
    <h2>{% if lang == 'en' %}M2 Transactional Private{% else %}M2 Transaccional Privado{% endif %}</h2>
    <div class="section group">
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Last{% else %}Último{% endif %}</h4>
            <h3>{{ variations.m2_tr_priv_val_last|format_number:lang }}</h3>
            <div><small>{{ variations.m2_tr_priv_date_last|format_date }}</small> : <small>{{ variations.m2_tr_priv_val_last|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Daily Variation{% else %}Variación Diaria{% endif %}</h4>
            <h3>{{ variations.m2_tr_priv_val_last|calculate_variation:variations.m2_tr_priv_val_daily }}</h3>
            <div><small>{{ variations.m2_tr_priv_date_daily|format_date }}</small> : <small>{{ variations.m2_tr_priv_val_daily|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Monthly Variation{% else %}Variación Mensual{% endif %}</h4>
            <h3>{{ variations.m2_tr_priv_val_last|calculate_variation:variations.m2_tr_priv_val_monthly }}</h3>
            <div><small>{{ variations.m2_tr_priv_date_monthly|format_date }}</small> : <small>{{ variations.m2_tr_priv_val_monthly|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Annual Variation{% else %}Variación Anual{% endif %}</h4>
            <h3>{{ variations.m2_tr_priv_val_last|calculate_variation:variations.m2_tr_priv_val_yearly }}</h3>
            <div><small>{{ variations.m2_tr_priv_date_yearly|format_date }}</small> : <small>{{ variations.m2_tr_priv_val_yearly|format_number:lang }}</small></div>
        </div>
    </div>
    <div class="section group">
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}2 Year Variation{% else %}Variación 2 Años{% endif %}</h4>
            <h3>{{ variations.m2_tr_priv_val_last|calculate_variation:variations.m2_tr_priv_val_2years }}</h3>
            <div><small>{{ variations.m2_tr_priv_date_2years|format_date }}</small> : <small>{{ variations.m2_tr_priv_val_2years|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}3 Year Variation{% else %}Variación 3 Años{% endif %}</h4>
            <h3>{{ variations.m2_tr_priv_val_last|calculate_variation:variations.m2_tr_priv_val_3years }}</h3>
            <div><small>{{ variations.m2_tr_priv_date_3years|format_date }}</small> : <small>{{ variations.m2_tr_priv_val_3years|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}5 Year Variation{% else %}Variación 5 Años{% endif %}</h4>
            <h3>{{ variations.m2_tr_priv_val_last|calculate_variation:variations.m2_tr_priv_val_5years }}</h3>
            <div><small>{{ variations.m2_tr_priv_date_5years|format_date }}</small> : <small>{{ variations.m2_tr_priv_val_5years|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}10 Year Variation{% else %}Variación 10 Años{% endif %}</h4>
            <h3>{{ variations.m2_tr_priv_val_last|calculate_variation:variations.m2_tr_priv_val_10years }}</h3>
            <div><small>{{ variations.m2_tr_priv_date_10years|format_date }}</small> : <small>{{ variations.m2_tr_priv_val_10years|format_number:lang }}</small></div>
        </div>
    </div>
</div>
<div class="subtitle"><h3>{% if lang == 'en' %}Variations Chart{% else %}Gráfico de Variaciones{% endif %}</h3></div>
<div class="variations-chart-container">
    <div id="variations-chart2" class="loading"></div>
</div>
{% endif %}

<div class="subtitle"><h3>{% if lang == 'en' %}Private M2{% else %}M2 Privado{% endif %}</h3></div>
<div class="explanation"><p>{% if lang == 'en' %}M2 excluding deposits from the public sector (national, provincial, and municipal governments and state-owned enterprises). Captures the monetary aggregate held exclusively by the private sector.{% else %}M2 excluidos los depósitos del sector público (gobierno nacional, provincial, municipal y empresas estatales). Captura el agregado monetario en manos exclusivamente del sector privado.{% endif %}</p></div>
<div class="chart-container sub-chart">
    <div id="chart3" class="rwd-chart loading"></div>
    <div class="explainer">{% if lang == 'en' %}Values expressed in Millions of Pesos{% else %}Valores expresados en Millones de Pesos{% endif %}</div>
</div>

{% if variations %}
<div class="subtitle"><h3>{% if lang == 'en' %}Variations{% else %}Variaciones{% endif %}</h3></div>
<div class="variations-container">
    <h2>{% if lang == 'en' %}Private M2{% else %}M2 Privado{% endif %}</h2>
    <div class="section group">
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Last{% else %}Último{% endif %}</h4>
            <h3>{{ variations.m2_priv_val_last|format_number:lang }}</h3>
            <div><small>{{ variations.m2_priv_date_last|format_date }}</small> : <small>{{ variations.m2_priv_val_last|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Daily Variation{% else %}Variación Diaria{% endif %}</h4>
            <h3>{{ variations.m2_priv_val_last|calculate_variation:variations.m2_priv_val_daily }}</h3>
            <div><small>{{ variations.m2_priv_date_daily|format_date }}</small> : <small>{{ variations.m2_priv_val_daily|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Monthly Variation{% else %}Variación Mensual{% endif %}</h4>
            <h3>{{ variations.m2_priv_val_last|calculate_variation:variations.m2_priv_val_monthly }}</h3>
            <div><small>{{ variations.m2_priv_date_monthly|format_date }}</small> : <small>{{ variations.m2_priv_val_monthly|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Annual Variation{% else %}Variación Anual{% endif %}</h4>
            <h3>{{ variations.m2_priv_val_last|calculate_variation:variations.m2_priv_val_yearly }}</h3>
            <div><small>{{ variations.m2_priv_date_yearly|format_date }}</small> : <small>{{ variations.m2_priv_val_yearly|format_number:lang }}</small></div>
        </div>
    </div>
    <div class="section group">
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}2 Year Variation{% else %}Variación 2 Años{% endif %}</h4>
            <h3>{{ variations.m2_priv_val_last|calculate_variation:variations.m2_priv_val_2years }}</h3>
            <div><small>{{ variations.m2_priv_date_2years|format_date }}</small> : <small>{{ variations.m2_priv_val_2years|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}3 Year Variation{% else %}Variación 3 Años{% endif %}</h4>
            <h3>{{ variations.m2_priv_val_last|calculate_variation:variations.m2_priv_val_3years }}</h3>
            <div><small>{{ variations.m2_priv_date_3years|format_date }}</small> : <small>{{ variations.m2_priv_val_3years|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}5 Year Variation{% else %}Variación 5 Años{% endif %}</h4>
            <h3>{{ variations.m2_priv_val_last|calculate_variation:variations.m2_priv_val_5years }}</h3>
            <div><small>{{ variations.m2_priv_date_5years|format_date }}</small> : <small>{{ variations.m2_priv_val_5years|format_number:lang }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}10 Year Variation{% else %}Variación 10 Años{% endif %}</h4>
            <h3>{{ variations.m2_priv_val_last|calculate_variation:variations.m2_priv_val_10years }}</h3>
            <div><small>{{ variations.m2_priv_date_10years|format_date }}</small> : <small>{{ variations.m2_priv_val_10years|format_number:lang }}</small></div>
        </div>
    </div>
</div>
<div class="subtitle"><h3>{% if lang == 'en' %}Variations Chart{% else %}Gráfico de Variaciones{% endif %}</h3></div>
<div class="variations-chart-container">
    <div id="variations-chart3" class="loading"></div>
</div>
{% endif %}

<div class="subtitle"><h3>{% if lang == 'en' %}Related Reports{% else %}Reportes Relacionados{% endif %}</h3></div>
<div class="other-links-container">
    <div class="section group">
        <div class="col span_2_of_4">
            <ul>
                <li><a href="{% if lang == 'en' %}/en/argentina_m1{% else %}/m1{% endif %}">M1</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m1_in_usd{% else %}/m1_en_usd{% endif %}">{% if lang == 'en' %}M1 in USD{% else %}M1 en USD{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m2_in_usd{% else %}/m2_en_usd{% endif %}">{% if lang == 'en' %}M2 in USD{% else %}M2 en USD{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m2_divided_by_international_reserves{% else %}/m2_dividido_reservas_internacionales_argentina{% endif %}">{% if lang == 'en' %}M2 Divided by International Reserves{% else %}M2 Dividido Reservas Internacionales{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m3{% else %}/m3{% endif %}">M3</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m3_in_usd{% else %}/m3_en_usd{% endif %}">{% if lang == 'en' %}M3 in USD{% else %}M3 en USD{% endif %}</a></li>
            </ul>
        </div>
        <div class="col span_2_of_4">
            <ul>
                <li><a href="{% if lang == 'en' %}/en/argentina_monetary_base{% else %}/base_monetaria_argentina{% endif %}">{% if lang == 'en' %}Monetary Base{% else %}Base Monetaria{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_monetary_base_components{% else %}/componentes_base_monetaria_argentina{% endif %}">{% if lang == 'en' %}Monetary Base Components{% else %}Componentes de la Base Monetaria{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_repo_operations{% else %}/pases_argentina{% endif %}">{% if lang == 'en' %}BCRA Repo Operations{% else %}Operaciones de Pase BCRA{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_deposits{% else %}/depositos_argentina{% endif %}">{% if lang == 'en' %}Deposits{% else %}Depósitos{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_loans{% else %}/prestamos_argentina{% endif %}">{% if lang == 'en' %}Loans{% else %}Préstamos{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_interest_rates{% else %}/tasas_de_interes_argentina{% endif %}">{% if lang == 'en' %}Interest Rates{% else %}Tasas de Interés{% endif %}</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block page_scripts %}
{% include "portal/_js_common.html" %}
<script>
const sources = [
    "{{ CHART_API_BASE_URL }}/m2",
    "{{ CHART_API_BASE_URL }}/m2_transaccional_privado",
    "{{ CHART_API_BASE_URL }}/m2_privado"
];
const milestones = "{{ CHART_API_BASE_URL }}/milestones";
const jsToken = "{{ jsToken }}";

const displayCharts = () => {
    const g1 = new responsiveChart({ id: "m2", containerId: "chart", numberLocale: numberLocale, initialView: "fiveYears", data: [{ id: "m2", stroke: "#003333", name: "M2", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/m2"] }], milestones: ResponsiveChartLibraryDataLoader.milestones, milestonesTextFunc: milestonesTextFunc, conf: { views: chartViewsConf, lang: chartLang, toolTipContainerBGWidth: 200 } });
    const g2 = new responsiveChart({ id: "m2-tr-priv", containerId: "chart2", numberLocale: numberLocale, initialView: "fiveYears", data: [{ id: "m2-tr-priv", stroke: "#003333", name: "{% if lang == 'en' %}M2 Transactional Private{% else %}M2 Transaccional Privado{% endif %}", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/m2_transaccional_privado"] }], milestones: ResponsiveChartLibraryDataLoader.milestones, milestonesTextFunc: milestonesTextFunc, conf: { views: chartViewsConf, lang: chartLang, toolTipContainerBGWidth: 240 } });
    const g3 = new responsiveChart({ id: "m2-priv", containerId: "chart3", numberLocale: numberLocale, initialView: "fiveYears", data: [{ id: "m2-priv", stroke: "#003333", name: "{% if lang == 'en' %}Private M2{% else %}M2 Privado{% endif %}", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/m2_privado"] }], milestones: ResponsiveChartLibraryDataLoader.milestones, milestonesTextFunc: milestonesTextFunc, conf: { views: chartViewsConf, lang: chartLang, toolTipContainerBGWidth: 200 } });
    {% if variations %}
    const v1 = new responsiveVariations({ id: "m2-variation", containerId: "variations-chart", numberLocale: numberLocale, initialView: "monthly", data: [{ id: "m2", stroke: "#003333", name: "M2", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/m2"] }], conf: { lang: variationsLang, toolTipContainerBGWidth: 200 } });
    const v2 = new responsiveVariations({ id: "m2-tr-priv-variation", containerId: "variations-chart2", numberLocale: numberLocale, initialView: "monthly", data: [{ id: "m2-tr-priv", stroke: "#003333", name: "{% if lang == 'en' %}M2 Transactional Private{% else %}M2 Transaccional Privado{% endif %}", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/m2_transaccional_privado"] }], conf: { lang: variationsLang, toolTipContainerBGWidth: 240 } });
    const v3 = new responsiveVariations({ id: "m2-priv-variation", containerId: "variations-chart3", numberLocale: numberLocale, initialView: "monthly", data: [{ id: "m2-priv", stroke: "#003333", name: "{% if lang == 'en' %}Private M2{% else %}M2 Privado{% endif %}", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/m2_privado"] }], conf: { lang: variationsLang, toolTipContainerBGWidth: 200 } });
    {% endif %}
    let t;
    removeLoading();
    window.addEventListener('resize', () => { clearTimeout(t); t = setTimeout(() => { g1.resize(); g2.resize(); g3.resize(); {% if variations %}v1.resize(); v2.resize(); v3.resize();{% endif %} }, 150); });
};

window.addEventListener('load', () => { ResponsiveChartLibraryDataLoader.loadAndRun(sources, milestones, displayCharts, jsToken); });
</script>
{% endblock %}
