{% extends "portal/base.html" %}
{% load portal_extras %}
{% block page_title %}{% if lang == 'en' %}M3 Divided by International Reserves and Dollar Exchange Rate{% else %}M3 Dividido Reservas Internacionales y Cotización del Dólar{% endif %} — Estadísticas BCRA{% endblock %}
{% block meta_description %}{% if lang == 'en' %}Argentina's M3 monetary aggregate divided by International Reserves — the 'M3 Shadow Dollar,' an implicit exchange rate estimate.{% else %}Agregado monetario M3 de Argentina dividido por las Reservas Internacionales — el 'Dólar Sombra M3', una estimación del tipo de cambio implícito.{% endif %}{% endblock %}
{% block og_description %}{% if lang == 'en' %}Argentina's M3 monetary aggregate divided by International Reserves — the 'M3 Shadow Dollar,' an implicit exchange rate estimate.{% else %}Agregado monetario M3 de Argentina dividido por las Reservas Internacionales — el 'Dólar Sombra M3', una estimación del tipo de cambio implícito.{% endif %}{% endblock %}
{% block twitter_description %}{% if lang == 'en' %}Argentina's M3 monetary aggregate divided by International Reserves — the 'M3 Shadow Dollar,' an implicit exchange rate estimate.{% else %}Agregado monetario M3 de Argentina dividido por las Reservas Internacionales — el 'Dólar Sombra M3', una estimación del tipo de cambio implícito.{% endif %}{% endblock %}
{% block content %}

<div class="title"><div class="title-container"><h1>{% if lang == 'en' %}M3 Divided by International Reserves and Dollar Exchange Rate{% else %}M3 Dividido Reservas Internacionales y Cotización del Dólar{% endif %}</h1></div></div>
<div class="explanation"><p>{% if lang == 'en' %}The following report is obtained by dividing the daily value of <a href="/en/argentina_m3">M3</a> by the <a href="/en/argentina_international_reserves">International Reserves</a>, a value known as the <strong>M3 Shadow Dollar</strong>. This indicator is used as a reference to estimate the implicit exchange rate using the broadest measure of the money supply.{% else %}El siguiente reporte se obtiene dividiendo el valor diario de <a href="/m3">M3</a> por las <a href="/reservas_internacionales_argentina">Reservas Internacionales</a>, valor conocido como <strong>Dólar Sombra M3</strong>. Este indicador es utilizado como referencia para estimar el tipo de cambio implícito considerando la medida más amplia de la oferta monetaria.{% endif %}</p></div>

<div class="subtitle"><h2>{% if lang == 'en' %}M3 Divided by International Reserves and Dollar Exchange Rate{% else %}M3 Dividido Reservas Internacionales y Cotización del Dólar{% endif %}</h2></div>
<div class="chart-container">
    <div id="chart" class="rwd-chart loading"></div>
    <div class="explainer">{% if lang == 'en' %}Values expressed in Pesos{% else %}Valores expresados en Pesos{% endif %}</div>
</div>

{% if variations %}
<div class="subtitle"><h2>{% if lang == 'en' %}Variations{% else %}Variaciones{% endif %}</h2></div>
<div class="variations-container">
    <h3>{% if lang == 'en' %}M3 / International Reserves{% else %}M3 Dividido Reservas Internacionales{% endif %}</h3>
    <div class="section group">
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Last{% else %}Último{% endif %}</h4>
            <h3>{{ variations.m3_div_res_val_last }}</h3>
            <div><small>{{ variations.m3_div_res_date_last|format_date }}</small> : <small>{{ variations.m3_div_res_val_last }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Daily Variation{% else %}Variación Diaria{% endif %}</h4>
            <h3>{{ variations.m3_div_res_val_last|calculate_variation:variations.m3_div_res_val_daily }}</h3>
            <div><small>{{ variations.m3_div_res_date_daily|format_date }}</small> : <small>{{ variations.m3_div_res_val_daily }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Monthly Variation{% else %}Variación Mensual{% endif %}</h4>
            <h3>{{ variations.m3_div_res_val_last|calculate_variation:variations.m3_div_res_val_monthly }}</h3>
            <div><small>{{ variations.m3_div_res_date_monthly|format_date }}</small> : <small>{{ variations.m3_div_res_val_monthly }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}Annual Variation{% else %}Variación Anual{% endif %}</h4>
            <h3>{{ variations.m3_div_res_val_last|calculate_variation:variations.m3_div_res_val_yearly }}</h3>
            <div><small>{{ variations.m3_div_res_date_yearly|format_date }}</small> : <small>{{ variations.m3_div_res_val_yearly }}</small></div>
        </div>
    </div>
    <div class="section group">
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}2-Year Variation{% else %}Variación 2 Años{% endif %}</h4>
            <h3>{{ variations.m3_div_res_val_last|calculate_variation:variations.m3_div_res_val_2years }}</h3>
            <div><small>{{ variations.m3_div_res_date_2years|format_date }}</small> : <small>{{ variations.m3_div_res_val_2years }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}3-Year Variation{% else %}Variación 3 Años{% endif %}</h4>
            <h3>{{ variations.m3_div_res_val_last|calculate_variation:variations.m3_div_res_val_3years }}</h3>
            <div><small>{{ variations.m3_div_res_date_3years|format_date }}</small> : <small>{{ variations.m3_div_res_val_3years }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}5-Year Variation{% else %}Variación 5 Años{% endif %}</h4>
            <h3>{{ variations.m3_div_res_val_last|calculate_variation:variations.m3_div_res_val_5years }}</h3>
            <div><small>{{ variations.m3_div_res_date_5years|format_date }}</small> : <small>{{ variations.m3_div_res_val_5years }}</small></div>
        </div>
        <div class="col span_1_of_4">
            <h4>{% if lang == 'en' %}10-Year Variation{% else %}Variación 10 Años{% endif %}</h4>
            <h3>{{ variations.m3_div_res_val_last|calculate_variation:variations.m3_div_res_val_10years }}</h3>
            <div><small>{{ variations.m3_div_res_date_10years|format_date }}</small> : <small>{{ variations.m3_div_res_val_10years }}</small></div>
        </div>
    </div>
</div>

<div class="subtitle"><h2>{% if lang == 'en' %}Variations Chart{% else %}Gráfico de Variaciones{% endif %}</h2></div>
<div class="variations-chart-container">
    <div id="variations-chart" class="loading"></div>
</div>
{% endif %}

<div class="subtitle"><h2>{% if lang == 'en' %}Related Reports{% else %}Reportes Relacionados{% endif %}</h2></div>
<div class="other-links-container">
    <div class="section group">
        <div class="col span_2_of_4">
            <ul>
                <li><a href="{% if lang == 'en' %}/en/argentina_international_reserves{% else %}/reservas_internacionales_argentina{% endif %}">{% if lang == 'en' %}International Reserves{% else %}Reservas Internacionales{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_monetary_base_divided_by_international_reserves{% else %}/base_monetaria_dividida_reservas_internacionales_argentina{% endif %}">{% if lang == 'en' %}Monetary Base Divided by International Reserves{% else %}Base Monetaria Dividida Reservas Internacionales{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m1_divided_by_international_reserves{% else %}/m1_dividido_reservas_internacionales_argentina{% endif %}">{% if lang == 'en' %}M1 Divided by International Reserves{% else %}M1 Dividido Reservas Internacionales{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m2_divided_by_international_reserves{% else %}/m2_dividido_reservas_internacionales_argentina{% endif %}">{% if lang == 'en' %}M2 Divided by International Reserves{% else %}M2 Dividido Reservas Internacionales{% endif %}</a></li>
            </ul>
        </div>
        <div class="col span_2_of_4">
            <ul>
                <li><a href="{% if lang == 'en' %}/en/argentina_m3{% else %}/m3{% endif %}">M3</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m3_in_usd{% else %}/m3_en_usd{% endif %}">{% if lang == 'en' %}M3 in USD{% else %}M3 en USD{% endif %}</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m1{% else %}/m1{% endif %}">M1</a></li>
                <li><a href="{% if lang == 'en' %}/en/argentina_m2{% else %}/m2{% endif %}">M2</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block page_scripts %}
{% include "portal/_js_common.html" %}
<script>
const sources = [
    "{{ CHART_API_BASE_URL }}/m3_div_res",
    "{{ CHART_API_BASE_URL }}/usd",
    "{{ CHART_API_BASE_URL }}/usd_of"
];
const milestones = "{{ CHART_API_BASE_URL }}/milestones";
const jsToken = "{{ jsToken }}";

const displayCharts = () => {
    const g1 = new responsiveChart({ id: "m3-div-res", containerId: "chart", numberLocale: numberLocale, initialView: "fiveYears", data: [{ id: "m3-div-res", stroke: "#0C6680", name: "{% if lang == 'en' %}M3 / Reserves{% else %}M3 / Reservas{% endif %}", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/m3_div_res"] }, { id: "usd", stroke: "#666600", name: "USD", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/usd"] }, { id: "usd-of", stroke: "#003333", name: "{% if lang == 'en' %}Official USD{% else %}USD Oficial{% endif %}", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/usd_of"] }], milestones: ResponsiveChartLibraryDataLoader.milestones, milestonesTextFunc: milestonesTextFunc, conf: { views: chartViewsConf, lang: chartLang, toolTipContainerBGWidth: 258 } });
    {% if variations %}
    const v1 = new responsiveVariations({ id: "m3-div-res-variation", containerId: "variations-chart", numberLocale: numberLocale, initialView: "monthly", data: [{ id: "m3-div-res", stroke: "#0C6680", name: "{% if lang == 'en' %}M3 / Reserves{% else %}M3 / Reservas{% endif %}", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/m3_div_res"] }, { id: "usd", stroke: "#666600", name: "USD", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/usd"] }, { id: "usd-of", stroke: "#003333", name: "{% if lang == 'en' %}Official USD{% else %}USD Oficial{% endif %}", data: ResponsiveChartLibraryDataLoader.data["{{ CHART_API_BASE_URL }}/usd_of"] }], conf: { lang: variationsLang, toolTipContainerBGWidth: 258 } });
    {% endif %}
    let t;
    removeLoading();
    window.addEventListener('resize', () => { clearTimeout(t); t = setTimeout(() => { g1.resize(); {% if variations %}v1.resize();{% endif %} }, 150); });
};

window.addEventListener('load', () => { ResponsiveChartLibraryDataLoader.loadAndRun(sources, milestones, displayCharts, jsToken); });
</script>
{% endblock %}
